body {
    background-color: #000000;
}

.navbar {
    background: rgba(14, 13, 13, 0.623);
    backdrop-filter: blur(100px);
    position: fixed;
    width: 100%;
    z-index: 1; 
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-link {
    text-decoration: none;
    color: #b1a5a5 !important;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: white; 
}
.navbar-brand img {
    width: 50px;
    height: auto;
    border-radius: 50%; 
}

.ColumAnuncio{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin-left: 10rem;
    margin-top: 5rem;
}
